/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    max-width: 1680px;
  }
}

/* Fonts */
@font-face {
  font-family: "NotoSans var";
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans var";
  src: url("/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

/* Global */
body {
  @apply lining-nums;
}
