/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    max-width: 1680px;
  }
}

/* Fonts */
@font-face {
  font-family: "Inter var";
  src: url("/fonts/Inter-VariableFont_slnt,wght.woff2") format("woff2"),
    url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* Global */
body {
  @apply lining-nums;
}
